.carousel-item img {
    width: 500px; 
    height: 700px; 
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      width: 500px; 
      height: 700px; 
    }
  }
  
  @media (min-width: 769px) {
    .carousel-item img {
      width: 800px;
      height: 700px; 
      margin-left: 400px;
    }
  }
  